/*reset*/

body, html, canvas, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
}


/*main*/
body {
  font-family: sans-serif;
  background: black;
  padding: 50px;
  font-size: 16px;
}
h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  padding: 20px;
}

div.canvas-container{
  position: relative;
  width: 1000px;
  height: 800px;
  display: block;
  margin: auto;
}
canvas {
  position: absolute;
  display: block;
  margin: auto;
}

canvas#game-canvas {
  z-index: 1;
}

canvas#ui-canvas {
  z-index: 2;
}

ul {
  list-style: none;
  color: white;
  text-align: center;
}

ul > li {
  padding: 10px;
}

ul > li:first-child {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
